.linkName {
  font-size: 14px;
  color: var(--gray-300);
  text-align: center;
}

.folderItem {
  display: flex;
  gap: 16px;
  height: 40px;
  text-align: center;
  align-items: center;
  padding-left: 8px;
  width: 100%;
  cursor: pointer;
}
.folderItem:hover {
  background-color: var(--gray-100);
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
}

.folderItem.selected {
  background-color: var(--gray-100);
  color: var(--primary);
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
}

.folderList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 280px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.linkCount {
  color: var(--gray-300);
}

.checkIcon {
  position: absolute;
  right: 50px;
}