.linkName {
  font-size: 14px;
  color: var(--gray-300);
  text-align: center;
}

.folderItem {
  display: flex;
  gap: 16px;
  height: 40px;
  text-align: center;
  align-items: center;
  padding-left: 8px;
  width: 100%;
}
.folderItem:hover {
  background-color: var(--gray-100);
  border-radius: 8px;
  height: 40px;
}

.folderItem :active{
  color: var(--primary);
}

.folderList {
  gap: 16px;
  width: 280px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.linkCount {
  color: var(--gray-300);
}
