.button {
  border-radius: 8px;
  background: var(--gradation);
  height: 53px;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
  color: #f5f5f5;
  gap: 10px;
  font-weight: 600;
  border: none;
  display: block;
}

.landingLinkAdd {
  width: 350px;
  padding: 12p6x 16px;
}

.landinglogin {
  width: 128px;
  padding: 40.5px 16px;
}

.addLinks {
  height: 37px;
  padding: 15.5px 10px;
  font-size: 14px;
}

.signUp {
  width: 400px;
}

.login {
  width: 400px;
  padding: 168.5px 16px;
}
