.button {
  border-radius: 8px;
  background: var(--gradation);
  height: 53px;
  font-size: 18px;
  white-space: nowrap;
  cursor: pointer;
  color: #f5f5f5;
  /* gap: 10px; */
  font-weight: 600;
  border: none;
}

.landingLinkAdd {
  width: 350px;
  padding: 12px 16px;
}

.landingLogin {
  width: 128px;
  padding: 0px 16px;
}

.addLinks {
  height: 37px;
  padding: 15.5px 10px;
  font-size: 14px;
}

.signUp {
  width: 400px;
  margin-top: 30px;
}

.login {
  width: 400px;
  margin-top: 30px;
}

.disabled {
  background: var(--gray-400);
  cursor: not-allowed;
}


.editModal {
  width: 280px;
  height: 51px;
  font-size: 16px;
}