.header {
  border-bottom: 1px solid #1f1f1f;
  background-color: var(--gray-100);
  border: none;
  padding-bottom: 70px;
}

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 20px 200px;
  gap: 200px;
}

.logoImage {
  width: 133px;
  height: 24px;
}
