.cardWrapper {
  width: 340px;
  height: 334px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  position: relative;


}

.imageWrapper {
  width: 340px;
  height: 200px;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
 
}
.favorite {
  position: absolute;
  top: 15px;
  right: 15px;
}
.infoWrapper {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #fff;
}
.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.urlTitle {
  overflow: hidden;
  width: 300px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.2;
}

.urlTitleText{
  height: 40px;
  cursor: pointer;
}

.timePast {
  color: var(--gray-400);
  font-size: 13px;
}

.date {
  overflow: hidden;
  color: var(--gray-400);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardImage {
  object-position: center;
  object-fit: cover;
}

.kebabButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

